:root {
  --main-bg-color: brown;
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}

/*====*/

body{
  margin: 40px 4vw 7vw 4vw ;

  background-color: #e9e5e5;
}

/*===*/

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li{
  padding: 0 0 0 25px;
  color: black;
  font-weight: bold;
  
}
header {
  border: 1px solid #c2bfbf;
  border-radius: 30px;
  padding:12px 30px 12px 18px;
  max-width: 350px;
  margin: 0 0 0 33vw;
}

 header #di{

  background-color: black;
   border-radius: 30px;
   padding: 6px 10px 4px 10px;
}

header #di a{
    color: white;
}

/*===*/

section.inicio{
  display: flex;
  justify-content: space-between;
  margin: 5vw 0  0 0;
}

section.inicio h2{
  font-size: 64px;
}
section.inicio h2 span{
  font-weight: bold;
}

section.inicio p{
  max-width: 500px;
  color: #5A5A5A;
  font-size: 36px;
  line-height: 50px;
}

section.inicio p span{
  font-weight: bold;
}

/*====*/

section.pos{
  display: flex;
  justify-content: space-between;

  margin: 4vw 0 0 0;
}

section.pos div{
  max-width: 600px;
  max-height: 500px;
  border-radius: 40px;
  padding: 25px 30px 35px 30px;
  background-color: white;
  border: 2px solid #d1d1d1;
}
section.pos div h2{
  font-weight: bold;
  font-size: 26px;
  margin: 0 0 1vw 0;
}

section.pos div#prima img{
  padding: 0 0 30px 0;
}

section.pos div#prima ul{
  display: flex;
}
section.pos div#prima ul li{
  padding: 0 20px 0 0;

  border-radius:  20px;
}












